*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100%;
    background-image: url(saturn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    margin: 0%;
    background-size: 120%;
}

#colorpage{
   padding: 0%;
   width: 2.5rem;
   margin-left: 3rem;
   margin-top: 1%;
   cursor: pointer;
}

html{
    scroll-behavior: smooth;
}

.options{
    width: 100%;
    opacity: 100px;
    transition: 1s;
    object-fit: cover;
    position: fixed;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(20px);
}

@media (max-width: 1000px){
    .options{
        transition: 1s;
        object-fit: cover;
        z-index: 3;
        height: 15%;
    }
}

.options a{
   text-decoration: none;
   color: rgb(255, 255, 255); 
   text-align: right;
   display: inline;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 120%;
   margin-inline: 4px;
}

.options a:hover{
    color: rgb(0, 219, 91);
    background-color: aliceblue 10px;
    transition: all 0.1s;
    font-weight: bold;
}

.options a:not(:hover){
    transition: all 0.4s;
}

.options ul{
   float: right;
   font-size: 25px;
   margin-right: 10%;
   margin-top: 1.7%;
   margin-bottom: 0%;
}


#caja1{
    padding: 130px;
    margin-bottom: 80px;
}


.Cool-slider{
    background-color: #201f1f;
    padding-bottom: 15%;
    background-image: url(wave.svg);
    font-size: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: gray 1px 20px 30px 1px;
    text-align: center;
    color: #ffffff;
}

.btnseemore{
    display: none;
}

.Perfil img{
    height: 450px;    
    width: 450px;
    float: right;
    border-radius: 400px;
    border: solid  rgb(3, 89, 13);
    border-width: 10px;
    margin-top: 10px;
    margin-right: 18%;
    padding: 0%;
    
}

@media (max-width: 1000px){
    .Perfil img{
        width: 400px;
        height: 400px;
        margin-top: 10%;
        margin-right: -10%;
    }
}

.Perfil h1{
    font-size: 4.8rem;
    float:left;
    display: block;
    font-family: Verdana,Tahoma, sans-serif;
    background: linear-gradient(
        270deg,
       rgb(27, 27, 173), #47bf3c91, #2b9e00, rgb(15, 214, 15)), rgb(3, 3, 100);
    font-weight: bold;
    margin: 45px 0px 0px 78px;
    margin-left: 13%;    
    max-width:370px;
    max-height: 330px;
    margin-top: 125px;
    background-size: 600% 600%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moverGradiante 12s infinite;

  }

  @keyframes moverGradiante {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@media (max-width: 1000px){
    .Perfil h1{
        font-size: 4.5rem;
        margin-top: 20%;
        margin-left: -5%;
    }
}


.perfil-enlaces{
   padding: 0%;
   margin-left: 14%;
   margin-top: -20px;
}

#social-1perfil{
width: 6.7%;
padding: 0%;
}

#social-2perfil{
width: 6.7%;
padding: 0%;
}

#workstation{
    width: 80px;
}

#span-line{
    border-bottom: solid rgb(255, 255, 255);
    border-width: 5px;
}

#pie-title{
    text-decoration: none;
    margin: 30px;
    display: flex;
    float: left;
    flex-direction: row;
    font-size: 35%;
    margin-top: 15%;
    color: rgb(255, 255, 255);
    text-shadow: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
} 

#stack{
    display: block;
}

#dev{
    display: block;
    margin-left: 2.5%;
}

.Perfil-pie{
    margin-bottom: 0px;
}

.Perfil h2{
    margin: 0%;
    align-content:end;
}

 #info{
    margin-top: -15%;
    padding-bottom: 12%;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    background-color: #201f1f;
    animation: scroll linear;
    animation-timeline: view() ;
    animation-range: entry 0% cover 40%;
 }
    @keyframes scroll {
        from {
            opacity: 0;
            scale: 0.5;
        }
        to {
            opacity: 1;
            scale: 1;
        }
    }

    @media (max-width: 1000px){
        #info{
            height: 380px;
            
        }
    }
    
   #textme{
    animation: scroll linear;
    animation-timeline: view() ;
    animation-range: entry 0% cover 30%;
 }
    @keyframes appear {
        from {
            opacity: 0;
            scale: 0.5;
        }
        to {
            opacity: 1;
            scale: 1;   
        }
       
    }

   

.info-text{
    text-align: center ;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){
    .info-text{
        width: 900px;
        margin-top: -40%;;

    }
}

#info-2{
    justify-content: center;
    align-items: center;
}

 #info-letter {
    font-size: 28px;
    font-family:Verdana,Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;

}

#info h1{
  color: rgb(0, 219, 91);
  font-size: 50px;
  font-weight: bold;
  font-family:Verdana,Tahoma,sans-serif;
  text-align: center;
}

#info-2{
    margin-bottom: 12%;
}

.Mas-Sobre-Skills{
   display: none;
   transition: 1.8s;
   margin-top: 10%;
}

.botonMenosSkilss{
    display: none;
    background: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: rgb(255, 255, 255);
    font-size: 27px;
    margin-left: 42.2%;
    margin-top: 5%;
    margin-bottom: -10% ;
    font-family:Verdana,Tahoma, sans-serif;
    transition: all 0.5s;
}

.slider-title{
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    font-family:Verdana,Tahoma, sans-serif;
    color: rgb(98, 28, 28);
    margin-top: 5%;
}

.left-right .slider img{
    padding: 0% ;
}

@media (max-width: 1000px){
    .left-right .slider{
        margin-top: 5%;
    }

    .slider-title{
        margin-top: 20%;
    }
}


.left-right .slider{
 height: 30px;
 margin-right: 10%;
 margin-left: 10%;
 padding-bottom: 65%;
 padding-left: 1%;
 background-color: #201f1f;
 border-radius: 20px;
 border: solid black ;

 display: grid;
 grid-template-columns: 
 repeat(
     auto-fit,
     minmax(150px, 0.08fr)
 );

 animation: scroll linear;
 animation-timeline: view() ;
 animation-range: entry 0% cover 30%;
}
 @keyframes scroll {
    from {
         opacity: 0;
         scale: 0.5;
     }
     to {
            opacity: 1;
            scale: 1;
     }
 }



.left-right .slider img{
    margin-left:60px;
    width: 112px;
    margin-bottom: 30%;
    margin-top: 35%;
}

#skill:hover{
    transition: all 0.1s;
    width: 120px;
    cursor: pointer;
    transform: translate(0%, -30%);
}

#icon{
 width: 42px;
}

.botonUniq{
    background: black;
    cursor: pointer;
    border: none;
    padding: 24px 48px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position:absolute;
    border-radius: 15px;
    margin-left: 42%;
    margin-bottom:5%;
    margin-top: 5%;
}

.botonUniq::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, rgb(0, 0, 0), blue, red, rgb(0, 0, 0), rgb(255, 20, 20), blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.slider-nas-title{
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    margin-right: 30%;
    font-weight: bold;
    font-family:Verdana,Tahoma, sans-serif;
    color: rgb(98, 28, 28);
    
}

.slider-mas-img img{
    width: 150px;
    margin-top: 29px;
}

.slider-mas-boton{
    background: rgb(174, 165, 165);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: rgb(0, 0, 0);
    font-size: 27px;
    margin-left: 44%;
    margin-top: 5%;
    font-family:Verdana,Tahoma, sans-serif;
}

.slider-mas-boton:hover{
    background: rgb(134, 129, 129);
    cursor: pointer;

}

.slider-mas-title2{
    text-align: center;
    font-size: 200%;
    margin-top: 4%;
    margin-right: 25%;
    font-weight: bold;
    font-family:Verdana,Tahoma, sans-serif;
    color: rgb(98, 28, 28);
}

.slider-mas2{
    padding-bottom: 23%;
    max-width: 60%;
    height: 230px;
    background-color: #201f1f;
    border-radius: 10px;
    border: solid black;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(10px, 1fr)
    );

}

.slider-mas2-img{
    padding-top: 3%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(180px, 0.13fr)
    );

}

#php{
  padding-top: 15%;
}

.slider-mas2-img img{
    width: 10px;

}

#iconBootstrap{
    width: 130px;

}

#icon2{
    width: 110px;
    margin-bottom: 2.5%;
}

#caja2{
    background-color: #201f1f;
    padding-bottom: 10%;
    border: solid;
    border-radius: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15%;

    animation: scroll linear;
    animation-timeline: view() ;
    animation-range: entry 0% cover 30%;
   }
    @keyframes scroll {
       from {
            opacity: 0.5;
           scale: 0.5;
        }
        to {
            opacity: 1;
               scale: 1;
        }
    }
   

@media (max-width: 1000px){

    #caja2{
        padding-bottom: 10%;
        margin-top: 30%;
    }
 

}

.caja2-title{
    font-size: 70px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    font-family:Verdana,Tahoma, sans-serif;
    text-align: center;
    margin-top: 5%;   
}
  

.projects{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
      
}

.project{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    background-color: #201f1f;
    border: solid;
    border-radius: 20px;
    box-shadow: #000000 8px 5px 10px;
    padding-bottom: 40%;
}


 .project img{
margin-top: 4%;
 padding: 0%;
 margin-left: 5%;
 width: 350px;
 height: 200px;
 border-radius: 20px;
 border: solid  rgb(2, 71, 2)	;
 font-family:Verdana,Tahoma, sans-serif; ;
 }

 .project p{
    font-family:Verdana,Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 32px;
    margin-top: 5%;
    text-align: center;
 }

 .project a{
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    border: solid rgba(255, 255, 255, 0.215);
    padding: 5px;
    margin-inline: 15px;
    border-radius: 15px;
    transition: all 0.2s;

 }
 
.project a:hover{
    background-color: rgb(240, 240, 240);
    color: black;
 }

#educacion{
 padding-bottom: 20%;
 padding-right: 1%;
}

.educacion-oracle{
    width: 100%;
    transform: translate(-8%, 0%);
}

.oracle-text{
    margin-left: 12%;
    color: #fff;
}

#educacion .educacion-title{
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family:Verdana,Tahoma, sans-serif;
    margin-left: 1%;
    color: #fff;
  
}

.estudios{
    padding-top: 0.7%;
    max-width: 70%;
    background-color: #201f1f;
    border-radius: 10px;
    border: solid black;
    margin-left: 5%;
}

.estudios img{
    display: flex;
    margin-left: 5%;
    padding: 0%;
}

#formacion3{
    width: 20%;
    margin-left: 3%;
    padding: 0%;
    transform: translate( 0%, 90%);
 
}

#formacion3-letter{
    margin-left: 35%;
    margin-bottom: 10%;
    padding: 0%;

}

#formacion3-letter h1{
    font-weight: bold;
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;

}

#formacion3-letter p{
    font-size: 185%;
    color: #fff;
}


#formacion2-letter h1{
    display: flex;
    overflow: hidden;
    align-items: flex-start;  
    transform: translate(34%,-280%);
    margin-top: 0%;
    align-items: center;
    padding: 1%;
    font-weight: bold;
    font-size: 250%;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#formacion2-letter p{
    font-size: 185%;
    color: #fff;

}

#formacionONE{
    width: 20%;
    padding: 0%;
    margin-top: 10%;
    margin-left: 3%;
}

#formacion-letter h1 {
    color: #ffffff;
    transform: translate(35%,-280%);
    margin-top: 0%;
    align-items: center;
    padding: 0%;
    font-weight: bold;
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

#formacion-letter p{
  font-size: 185%;
  color: #fff;
  margin-top:5%;
}

#formacion2{
   width: 25%;
   margin-left: 1%;
   margin-top: 10%;
   margin-bottom: 5%;
}

.Envíodedatos{
   justify-content: center;
   align-items: center;
}

.wave{
 position: absolute;
 margin-top: 12%;       
 width: 100%;
 padding-left: 0%;
 z-index: -1;
 transform: translate( 0%, -150%);
}

#pie-pagina{
  background-color: #1f1d1d;
  color: white;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-content: center;
  float: baseline;
  flex-direction: column;
  margin: 0%;
}

.pie-span{
    color: #fff;
    text-align: center;
    width: auto;
    font-size: 30px;
    margin-top: 1%;

}

.pie-pagina-enlaces{
    margin: 0 auto;
    padding-bottom: 10%;
}

#social-1{
    width: 75px;
    padding: 0%;
    margin-bottom: 20%;
}

#social-2{
    width: 75px;
    padding: 0%;
    margin-bottom: 20%;
    margin-top: 10%;
}

.dark-Mode-button{
    background-color: #000000;
}

.dark-mode-letras{
    color: #ffffff;

}

.formacion3-caja{
  margin-bottom: 0%;

}

#formacion3{
    width: 20%;
    margin-left: 3%;
    padding: 0%;
    transform: translate( 0%, 90%);
 
}

#formacion3-letter{
    margin-left: 35%;
    margin-bottom: 10%;
    padding: 0%;

}

#formacion3-letter h1{
    font-weight: bold;
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;

}

#formacion3-letter p{
    font-size: 185%;
    color: #fff;
}


.computer-scienc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.computer-scienc h1{
    color: #fff;
}

#npm{
    margin-top: 60%;
}
@media (max-width: 1000px){
    #Hablemos{
        margin-top: 20%;
    }
}


#hablemos-text{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:35px ;
    margin-bottom: 5%;
    text-align: center;
}

#boton3{
    background: black;
    cursor: pointer;
    border: none;
    padding: 48px 140px;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    position:absolute;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 40%;
}

@media (max-width: 1000px){
    #boton3{
        float: left;
        margin-left: 25%;
    }

}

#boton3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, rgb(0, 0, 0), blue, red, rgb(0, 0, 0), rgb(255, 20, 20), blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(80px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
::selection {
    color: #fff;
    background: #374be1;
}

.wrapper {
    width: 860px;
    margin-left: 25%;
    padding: 40px 30px 50px 30px;
    margin-bottom: 20%;
    background: #242222;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px){
.wrapper{
    margin-top: 20%;
}
}


@media (max-width:1000px) {
    .wrapper {
        width: 700px;
        margin-left: 13%;
    }

    #Hablemos{
        margin-top: 20%;
    }

}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        margin-left: 0px;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}

form .field .input-area {
    height: 90px;
    position: relative;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: white;
    caret-color: #000000;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
    border-color: #f05353;
}

form .field.shake input,
form .field.error input {
    border-color: #dc3545;
}

.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon {
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}

.input-area .error-icon {
    right: 15px;
    color: #dc3545;
}

form input:focus~.icon,
form .field.valid .icon {
    color: #5372F0;
}

form .field.shake input:focus~.icon,
form .field.error input:focus~.icon {
    color: #bfbfbf;
}

form input::placeholder {
    color: #635d5d;
    font-size: 17px;
}

form .field .error-txt {
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}

form .field .error {
    display: none;
}

form .field.shake .error,
form .field.error .error {
    display: block;
}

form .pass-txt {
    text-align: left;
    margin-top: -10px;
}

.wrapper a {
    color: #5372F0;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    height: 90px;
    margin-top: 30%;
    color: #fff;
    padding: 0;
    border: none;
    background: rgb(0, 87, 36);;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: #400000;
}

/* 1000px */
@media (max-width: 1000px){



    #info-letter{
        margin: auto;
    }

    .left-right .slider{
        padding-right: 10%;
        padding-bottom: 145%;
        max-width: 100%;
        background-color: #201f1f;
        border-radius: 10px;
        border: solid black;
        margin-inline: 1px;

        display: grid;
        grid-template-columns: 
        repeat(
            auto-fit,
            minmax(140px, 2fr)
        );
    }

    .Mas-Sobre-Skills{
        margin-top: 14%;
    }

    #caja1{
        background: none;
        opacity: 200px;
        height: 40%; 
        box-shadow: none;
        padding-top: auto;
    }

    #info{
        padding-bottom: 25%;
        margin-top: 20%;
    }

    #info p{
        text-align: center;

        width: 80%;
    }

    .info-title{
        text-align: center;
    }
    
    .perfil-enlaces{
        display: none;
    }

    #pie-pagina{
        height: 30%;
    }

    .oracle-text{
        margin-top: 10%;
        width: 90%;
    }

    .estudios{
        padding-right: 25%;
        padding-top: 5%;
    }

    .estudios img{
        margin-bottom: 5%;

    }

    #formacion2-letter h1{
        margin-bottom: 10%;
    }

    body{
        background-image: url(saturn.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 900%;
        z-index: -1;
        background-size: 600%;
    
    }

    .slider-mas{
        width: 70%;
        height: 10%;
    }

    .slider-mas2{
        max-width: 200%;
        height: auto;
        background-color: #201f1f;
        border-radius: 10px;
        border: solid black;
        margin-right: 20%;
        padding-bottom: 3%;
    }
    
    .slider-mas2-img{
        display: inline-block;
        grid-template-columns: 
        repeat(
            auto-fit,
            minmax(130px, 1fr)
        );
    }

    .options{
        width: 100%;
        transition: 1s;
        object-fit: cover;
        position: fixed;
        padding-bottom: 0%;
        align-items: center;
        z-index: 3;
        height: 5%;
        backdrop-filter: blur(30px);
    }

    .options ul{
        margin-top:3.5% ;
    }
    

    .estudios img{
        width: 20%;
    }

    .formacion3-caja{
        width: 100%;
    }

    #formacion3{
        width: 40%;
        transform: translate(0%, 120%);

    }

    #formacion3-letter{
        margin-left: 50%;
        width: 100%;
        
    }

    #formacion-letter p{
        margin-left: 15%;
        width: 100%;    

    }
        #formacion-letter h1{
        margin-left: 15%;
        width: 100%;    
        margin-top: 15%;

    }

    #formacionONE{
        width: 40%;
        margin-left: 3%;
        margin-top: 30%;
    
    }

    .year-course1{
        margin-left: 10%;

    }

    #formacion2{
        width: 100%;
        transform: translate(30%, -150%);
    }   

    #formacion2-letter{
        margin-left: 15%;
        width: 100%;

    }
    
    .univ{
        margin-top: 0%;
        padding-top: 0%;

    }



}